/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/* general */
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #403C3E;
}

h1,
h2git {
    text-transform: uppercase;
}

.container-fluid {
    margin-top: 20px;
}

/* NAVBAR */
.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;   
}

.navbar{
    background-color: #403C3E;
    margin-bottom: 0;
    border: 0; 
    width: 100%;   
}

.navbar-brand {
    color:#F25D50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.5px;
}

.nav-item a {
    color: #F25D50;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.navbar .navbar-toggler-icon {
    color: #F25D50;
}

/* Callout */

.callout-container {
    height: 100vh; 

    background: url(../images/cocktailEquipment.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: callout-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
 /*--"Whiskey Drop Project" Code Institute --*/
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .35);
}

.callout-outer {
    height: 100vh; 
    overflow: hidden;
}

/* jumbotron */
.jumbotron{
    background-color: transparent;
}

.jumbotron-header {
    color: #F25D50;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.jumbotron-subhead {
    color: #F25D50;
    font-size: 90%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
}

/* block divider */
.block-divider {
    width: 100px;
    height: 5px;
    border: 0;
    background-color: #7BA681;
}

/* buttons*/ 
.btn {
    font-weight: 700;
    border-radius: 25px;
    width: 200px;
    color: #403c3e;
    background-color: #F25D50; 
    border-color: #7BA681;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-search{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    border-radius: 25px;
    width: 200px;
    color: #403c3e;
    background-color: #F25D50; 
    border-color: #7BA681;
}
/* cocktails */
.cocktail-head {
    width: 100%;
    color: #F25D50;
    background-color: #403c3e;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}

#cocktail-section{
    padding-top: 18px;
    margin-top: 24px;
    font-family: Merriweather;
    color: #F25D50;
}

#cocktailImage {
    height: auto;
    width: 100%;
}
/* contact section */

.contact-form {
    background-color: #403c3e;
    color: #F25D50;
    padding-top: 15px;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
 }
 
 .contact-heading {
     letter-spacing: 1.5px;
     padding-top: 18px;
     margin-top: 18px;
     margin-bottom: 18px;
 }

form{
    padding-top: 10px;
    margin-left: 20px;
}

.form-control {
    margin-bottom: 20px;
    BACKGROUND-COLOR: #403C3E;
    height: auto;
    BORDER: #7BA681 SOLID 1PX;
    COLOR: #F25D50;
    
}

textarea.form-control {
    background-color: #403C3E;
    height: auto;
    border: #7BA681 SOLID 1PX;
    color: #F25D50;
}
/* Footer */
footer {
    background-color: #403C3E;
    color: #F25D50;
    min-height: 120px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .copy-col ul{
    list-style-type: none; 
    padding: 0;
  }
  .content-copy-col {
     color: #F25D50;
  }
  
  .social-header {
    text-transform: none;
    font-size: 18px;
    margin: 0;
    color: #F25D50;
  }
  
  .social-links li a i {
      width: 32px;
      height: 32px;
      padding: 12px 0;
      border-radius: 50%;
      font-size: 18px;
      line-height: 7px;
      text-align: center;
      color: #F25D50;
  }
  
  #footer-details {
      padding: 25px;
  }
  