/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/* general */
body {
    margin: 0;
    padding: 0;
    background-color: #403C3E;
}

/* NAVBAR */
.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;   
}

.navbar{
    background-color: #403C3E;
    margin-bottom: 0;
    border: 0; 
    width: 100%;   
}

.navbar-brand {
    color:#F25D50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.5px;
}

.nav-item a {
    color: #F25D50;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.navbar .navbar-toggler-icon {
    color: #F25D50;
}

/* Footer */
footer {
    background-color: #403C3E;
    color: #F25D50;
    min-height: 120px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .copy-col ul{
    list-style-type: none; 
    padding: 0;
  }
  .content-copy-col {
     color: #F25D50;
  }
  
  .social-header {
    text-transform: none;
    font-size: 18px;
    margin: 0;
    color: #F25D50;
  }
  
  .social-links li a i {
      width: 32px;
      height: 32px;
      padding: 12px 0;
      border-radius: 50%;
      font-size: 18px;
      line-height: 7px;
      text-align: center;
      color: #F25D50;
  }
  
  #footer-details {
      padding: 25px;
  }
  